@charset "UTF-8";
@import "../../css/common.scss";

.tabh-wraper{
	font-size: $wraperFontSize;
	display: -webkit-flex;
	display: -ms-flexbox; 
	display: flex;
	-webkit-justify-content:center;
			  -ms-flex-pack:center;
	        justify-content:center;
}
.tabh-tab{
	display: inline-block;
	line-height: 2;
	text-align: center;
	border:$greyBorder;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	        flex-grow:1;

	&:not(:first-child){
		border-left:none;
	}
}
